html, body{
	font-family: sans-serif;  
	margin: 0px;
}

header {
	background-color: lightpink; 
	padding: 40px;
	text-align: center;
}

h1{ 
	font-size: 90px;
	color: white;
}

header img{
	border-radius: 250px;
	width: 300px; 
	border:20px solid #ffb3ff; 
}

.content{
	/*max-width: 400px;*/
	margin: 0 auto; 
	padding:0 20px; 
	
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	color: darkgray;
	font-style: italic;
}

ul{ 
	list-style: none; 
	padding: 0;
	margin: 0;
	text-align: left;
}

a{
	color: darkmagenta;
	text-decoration: none;
	
}

footer{
	margin-top: 20px;
	padding:40px 20px; 
	background-color: lightpink;
}

footer ul{
	text-align: center;
}

footer ul li{ 
	display: inline-block;
	margin: 0 5px;
}
